<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
  <p><input type="text" class="form-control" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search via Lunr.js" /></p>
</form>
<div id="lunrsearchresults" class="text-left">
  <div class="blogs-block"></div>
  <ul></ul>
</div>

<script src="{{'vendor/lunr/lunr.min.js' | relative_url}}"></script>
<script>
  {% assign counter = 0 %}
  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
var documents = [{% for page in site.posts %}{
    "id": {{ counter }},
    "author": "{{ page.author }}",
    "date": "{{ page.date | date: date_format }}",
    "url": "{{ site.url }}{{ page.url }}",
    "title": "{{ page.title | escape }}",
    "body": "{{ page.content | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' | truncatewords: 75}}"{% assign counter = counter | plus: 1 %}
    }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];


function getUrlVars() {
  var vars = {};
  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
    vars[key] = value;
  });
  return vars;
}

function getUrlParam(parameter, defaultvalue) {
  var urlparameter = defaultvalue;
  if (window.location.href.indexOf(parameter) > -1) {
    urlparameter = getUrlVars()[parameter];
  }
  return urlparameter;
}



// lunr functions
var idx = lunr(function() {
  this.ref('id')
  this.field('title')
  this.field('body')

  documents.forEach(function(doc) {
    this.add(doc)
  }, this)
});

function lunr_search(term) {
  document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
  if (term) {
    document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;

    //put results on the screen.
    var results = idx.search(term);

    if (results.length > 0) {
      //console.log(idx.search(term));
      //if results
      for (var i = 0; i < results.length; i++) {
        // more statements
        var ref = results[i]['ref'];
        var url = documents[ref]['url'];
        var title = documents[ref]['title'];
        var author = documents[ref]['author'];
        var date = documents[ref]['date'];
        // var body = documents[ref]['body'].substring(0, 160) + '...';
        var body = documents[ref]['body'];
        document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<div class='blogs-block'><div class='row title-row'><h3><a class='post-link' href='" + url + "'>" + title + "</a></h3><div class='ByLine'>By " + author +" posted <span class='post-meta'>" + date + "</span></div><br /><span class='body'>" + body + "</span></div>";
      }
    } else {
      document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
    }
  }
  return false;
}

var search_param = getUrlParam('q', 'Empty');

if (search_param !== 'Empty') {
  document.getElementById('lunrsearch').value = search_param;
  document.getElementById('search-box').value = search_param;
  console.log('before', document.getElementById('lunrsearchresults').innerHTML);
  // document.getElementById('lunrsearchresults').innerHTML = search_param;
  // console.log('after', document.getElementById('lunrsearchresults').innerHTML);
  // // console.log(document.getElementById('lunrsearchresults')).innerHTML;
  lunr_search(search_param);
}
</script>

<style>
  .lunrsearchresult .title {color: #d9230f;}
  .lunrsearchresult .url {color: silver;}
  .lunrsearchresult a {display: block; color: #777;}
  .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
  .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>

